// Colors
$colorTransparent: rgba(0, 0, 0, 0.000);
$colorSearchBcg: rgba(0, 0, 0, 0.550);
$colorBlockSale: rgb(253, 1, 54);
$colorSale: #d01345;
$white: #fff;
$cWhite: #ccc;
$dWhite: #ddd;
$eWhite: #eee;

$black: #000;
$darkGray: #525050;
$gray: #666;
$red: red;
$green: rgba(0, 128, 0, 0.808);



// Width page blocks
$width70: 70%;

// Transition
$transition_5: all .5s ease-in;
$transition_3: all .3s ease-in;

// Background image
$bcgSaleBlock: url("https://content.asos-media.com/-/media/homepages/unisex/homepages/2020/06_june/ss-sale/red/ww-red-desktop.jpg");