*{box-sizing:border-box;margin:0;outline:none;font-family:'Futura PT'}

.error{width:100%;height:100vh;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;font-weight:bold;font-family:'Futura PT';font-size:30px}.error div{color:red;width:70%}

.header_container{margin-top:30px;width:100%;height:70px;background-color:#000;color:#fff;font-size:20px;display:flex;align-items:center;justify-content:center}.logo_wrapper{flex-grow:3;display:flex;justify-content:flex-end}.logo{text-transform:uppercase;font-size:42px;cursor:pointer;margin-left:40px;color:white;font-weight:bold}.product_wrapper{border-left:1px solid #525050;border-right:1px solid #525050;height:100%;display:flex;align-items:center;justify-content:center;flex-grow:0.3;margin:0 20px;transition:0.3s background-color ease;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;letter-spacing:1.5px}.product_wrapper.active{background-color:#525050;cursor:default}.product_list_container{width:100%;height:60px;background-color:#525050;display:flex;justify-content:space-evenly}.product_element_wrapper{width:70%;display:flex}.product_element_wrapper button{color:#fff;letter-spacing:.8px;line-height:60px;border:none;padding:0 10px;background-color:#525050;margin:0;outline:none;border-radius:0}.product_element{color:#fff;cursor:default;max-height:100%;padding:0 10px;display:flex;align-items:center;font-weight:normal;letter-spacing:1px;font-size:16px;object-fit:cover}.product_element:hover{background-color:#fff;color:#525050}.product_element.sale{display:block;padding:0 12px 0 14px;background-color:#d01345;transform:skew(-12deg);padding:0 10px;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;text-transform:none}.product_element.sale:hover{background-color:#fff;transform:skew(0deg)}.svg_wrapper{flex-grow:3;margin-left:20px;display:flex}.svg{height:20px;margin-left:35px;cursor:pointer}.svg:first-child{margin-left:0}.svg:last-child{margin-right:40px}.expanded_list_bcg{width:100%;height:calc(100% - 160px);position:absolute;background-color:rgba(0,0,0,0.55);z-index:10;overflow:hidden}.expanded_list_container{position:absolute;width:65%;height:auto;background-color:#fff;left:50%;transform:translateX(-50%);z-index:5;display:flex;justify-content:space-around}.expanded_list{padding:0;min-width:25%;list-style:none;margin:25px}.expanded_list_item{margin:2% 0;cursor:pointer;color:#000;font-weight:normal;letter-spacing:0.5px;font-size:14px}.expanded_list_item:hover{color:cornflowerblue}.expanded_list_sort{padding-bottom:10px;cursor:default;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px}.random_item_wrapper{display:flex;align-items:center;justify-content:center;border-left:0.5px solid #ddd;position:relative;list-style:none;width:60%}.random_item{width:40%;position:relative;margin:3% auto;cursor:pointer;transition:all .3s ease-in}.random_item:hover{transform:scale(1.05)}.random_img{width:100%;position:relative}.random_img img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.random_img::before{content:' ';width:100%;display:block;padding-top:130%}.random_make{display:flex;justify-content:center;width:100%;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:12px;color:#000}

.search_hide{overflow:hidden}.search_modal{position:absolute;width:100%;top:-100%;left:50%;background-color:#eee;transform:translateX(-49.99%);z-index:15;margin-top:40px;display:flex;justify-content:center;border-top-left-radius:25px;border-top-right-radius:25px}.search_elements{padding:50px 0px 10px 0px;list-style:none;width:100%;font-weight:normal;letter-spacing:1px;font-size:18px}.search_element{padding:5px 16px;color:#000;cursor:pointer;font-weight:lighter;overflow:hidden;border:0.5px solid #eee}.search_element .highlight{font-weight:normal}.search_element:hover{background-color:#ccc}.search_element:active{border:.5px solid #777}.search_wrapper{width:850px;display:flex;align-items:center;justify-content:center;position:relative;background-color:rgba(0,0,0,0);z-index:20}.search_input{width:100%;height:40px;border:0;font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:18px;padding-left:16px;padding-right:75px;border-radius:21px/50%;z-index:20}.search_input::placeholder{font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:16px}.svg_search_wrapper{position:absolute;right:0px;background-color:white;width:40px;height:40px;border-radius:20px;z-index:20;transition:all 0.3s ease-in;cursor:pointer}.svg_search_wrapper.active{background-color:#00c5df}.svg_search_wrapper:active{border-style:inset}.svg_search{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:20;fill:#000;transition:all 0.3s ease-in}.svg_search.active{fill:#fff}.clear_search{position:absolute;top:50%;right:43.5px;width:15px;height:15px;z-index:20;transform:translateY(-50%);cursor:pointer;pointer-events:none}.clear_search:before{transform:rotate(45deg)}.clear_search::after{transform:rotate(-45deg)}.clear_search:before,.clear_search::after{position:absolute;content:' ';height:16px;width:2px;background-color:#00c5df;opacity:0;border-radius:20px;transition:all 0.3s ease-in}.clear_search.active::before,.clear_search.active::after{opacity:1;pointer-events:all}.search_bcg{background-color:rgba(0,0,0,0.55);position:fixed;top:-40px;left:0;right:0;width:100%;height:calc(100vh + 40px);opacity:0;transition:opacity .3s ease-in;pointer-events:none;z-index:10}.bcg_hide{opacity:1;pointer-events:all}

@keyframes slide{0%{opacity:0;transform:scale(1.1)}100%{opacity:1;transform:scale(1)}}@keyframes text{0%{opacity:0;transform:translateX(-100px)}100%{opacity:1;transform:translateX(0px)}}.home{width:70%;margin:0 auto;margin-top:60px;background-color:#000;overflow:hidden;position:relative}.home .controls .prev{left:0}.home .controls .next{right:0}.home .controls .prev,.home .controls .next{position:absolute;z-index:2;top:50%;height:60px;width:60px;margin-top:-30px;cursor:pointer;transition:all 0.5s ease-in;display:flex;align-items:center;justify-content:center}.slider{position:relative;width:100%;height:100%;display:flex;justify-content:center}.slide{background-repeat:no-repeat;width:80%;height:100%;background-size:cover;background-position:center;display:none;animation:slide 2s ease;padding:25% 0;position:relative}.slide.active{display:block}.slide.active .caption{opacity:0;animation:text 1s ease forwards;animation-delay:1s}.slide.active .caption button{border:0;background-color:rgba(0,0,0,0);width:auto;height:auto;line-height:inherit;margin-top:5px;color:#fff;text-transform:uppercase;font-size:20px;cursor:pointer;font-weight:bold}.caption{position:relative;width:130px;height:40px;transform-style:preserve-3d;position:absolute;top:20%;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px}.caption:hover .face.back{transform:perspective(500px) rotateY(360deg)}.caption:hover .face.front{transform:perspective(500px) rotateY(180deg)}.caption .face{position:absolute;top:0;left:0;width:100%;height:100%;transform-style:preserve-3d;display:flex;align-items:center;justify-content:center;transition:2s ease-in-out;backface-visibility:hidden;transform:perspective(500px) rotateY(0deg);cursor:pointer}.caption .face h1{text-transform:uppercase;font-size:16px}.caption .face.front{background-color:rgba(0,0,0,0)}.caption .face.back{background-color:rgba(0,0,0,0);transform:perspective(500px) rotateY(180deg);display:flex;align-items:center;justify-content:center}.caption .face.back h1{color:#fff}.back{border:0.5px solid #fff}.back h1{position:relative;z-index:3}.back:hover::before{transform:scaleY(0)}.back:hover::after{transform:scaleX(0)}.back::before{content:'';position:absolute;top:5px;left:-4px;width:calc(100% + 8px);height:calc(100% - 12px);background-color:black;transition:.8s ease-in-out;transform:scaleY(1)}.back::after{content:'';position:absolute;left:5px;top:-4px;height:calc(100% + 8px);width:calc(100% - 12px);background-color:black;transition:.8s ease-in-out;transform:scaleX(1)}.prev span,.next span{border:solid #3c3c3c;border-width:0 3px 3px 0;display:inline-block;padding:3px;width:20px;height:20px}.prev span{transform:rotate(135deg)}.next span{transform:rotate(-45deg)}.circles{position:absolute;left:50%;bottom:30px;z-index:2;color:#fff;display:flex;transform:translateX(-50%)}.circle{display:flex;justify-content:center;width:15px;height:15px;background-color:#3c3c3c;border-radius:50%;margin:0 3px;cursor:pointer}.circle.active{background-color:#828282}.container{color:#fff;width:20%;height:50%;display:flex;align-items:center;justify-content:center}

.collage{width:70%;position:relative;margin:0 auto;margin-top:60px;margin-bottom:60px;display:flex;flex-wrap:wrap}.collage_elem{width:50%;border:5px solid white;position:relative}.collage_elem .elem{position:relative;width:100%;height:100%;display:flex;align-items:center;justify-content:center}.collage_elem .elem .img{width:100%;height:100%;object-fit:cover}.collage_elem::after{width:100%;height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);content:' ';background-color:rgba(0,0,0,0);transition:all 0.5s ease-in}.collage_elem:hover::after{background-color:rgba(0,0,0,0.95)}.collage_elem .elem_label{width:100%;height:100%;color:#fff;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:flex;align-items:center;justify-content:center;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:18px;z-index:1;cursor:pointer;opacity:0;transition:all 0.5s ease-in}.collage_elem .elem_label:hover{opacity:1}

.intro{position:relative;width:100%;height:100%;margin:0 auto;display:flex;align-items:center}.video{position:relative;width:100%;background-color:#000}.video_media{width:100%}

.sale_line_container{display:flex;justify-content:center;width:100%;height:100%;background-color:#d01345}.sale_line{display:flex;justify-content:space-around;width:70%}.sale_wrapper{display:flex;align-items:center}.sale_text{display:flex;align-items:center;justify-content:space-evenly;width:100%;height:60px;color:#fff;cursor:default;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px}.sale_element{display:flex;align-items:center;color:#fff;padding:5px 10px;margin:0 10px;border:2px solid #fff;text-align:center;text-transform:uppercase;cursor:pointer;transition:all 0.5s ease-in;font-weight:normal;letter-spacing:0.5px;font-size:14px}.sale_element:hover{color:#525050;border:2px solid #525050}

.sale_block_container{width:100%;position:relative;margin-top:60px;background-image:url("https://content.asos-media.com/-/media/homepages/unisex/homepages/2020/06_june/ss-sale/red/ww-red-desktop.jpg");background-size:cover}.sale_block{width:70%;margin:0 auto;display:flex;flex-direction:column;align-items:center}.sb_header{width:100%;margin:2%;display:flex;justify-content:center}.sb_header_text{color:#fff;line-height:2.7vw;text-align:center;cursor:pointer;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;letter-spacing:2.5px;font-size:2.5vw}.sb_header_text .first{background-color:#fd0136;line-height:3.7vw;box-shadow:0.37em 0 0 #fd0136,-0.37em 0 0 #fd0136}.sb_examples{width:100%;padding:0;display:flex;justify-content:center}.sb_example{list-style:none;margin:0 10px;height:100%;cursor:pointer;transition:all 0.3s ease-in;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px}.sb_example:hover{transform:scale(1.025)}.sb_example .sb_img{height:calc(100% - 46px);width:100%}.sb_example .sb_img .img{object-fit:cover;width:100%;height:100%}.sb_example .sb_text{width:100%;padding:5.3% 0;background-color:#fff;text-align:center;overflow:hidden;color:#000}.sb_button{background-color:#fff;padding:7% 14%;border:0;cursor:pointer;transition:all 0.3s ease-in;margin:15% 0;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:1vw}.sb_button:hover{background-color:#000;color:#fff}

.preview_product_counter{width:100%;display:flex;justify-content:center;text-align:center;margin:1% 0;font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:16px;color:#666}.preview_product_filter{width:100%;display:flex;justify-content:center;text-align:center;margin-top:30px;font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:16px;color:#666}.preview_product_container{width:70%;margin:0 auto;height:auto;display:flex;justify-content:center;flex-wrap:wrap;margin-top:30px;margin-bottom:30px}.preview_product{width:calc(25% - 9px);position:relative;margin-bottom:10px;margin:12px 0 1px 12px;cursor:pointer;border:1px solid #fff;transition:transform .3s ease-in}.preview_product:nth-child(4n-3){margin-left:0}.preview_product:hover{transform:scale(1.05)}.preview_product.remove{animation:remove .4s ease}.preview_product_sale,.remove_like{background-color:#d01345;color:#fff;position:absolute;top:0;right:0;width:2.4vw;height:2.4vw;border-radius:50%;text-align:center;z-index:1;overflow:hidden;font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:15px}.remove_like{background-color:#eee;z-index:5}@keyframes remove{0%{transform:scale(1)}100%{transform:scale(0)}}.preview_product_sale span,.remove_like span{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);font-size:0.9vw}.preview_product_img{width:100%;position:relative}.preview_product_img::before{content:' ';width:100%;display:block;padding-top:100%}.preview_product_img img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.preview_product_name{text-align:center;color:#2d2d2d;height:40px;font-weight:normal;letter-spacing:0.5px;font-size:14px}.preview_product_price{text-align:center;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;color:#666;margin-bottom:15px}.preview_product_price .sale{color:#aaa;font-weight:normal;letter-spacing:0.5px;font-size:14px;text-decoration:line-through;text-align:center;margin-right:10px}.preview_product_price .red{color:#d01345}.add_to_basket{border:solid rgba(0,128,0,0.808);color:#000;display:flex;align-items:center;justify-content:center;padding:5px 0px;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:14px;cursor:pointer;text-align:center}.description{width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;background-color:#f0f0f0;font-weight:bold;letter-spacing:1px;font-size:14px;padding:1% 0}

.item_container{width:100%;display:flex;justify-content:center;margin:50px 0}.item_image{width:25%;position:relative;overflow:hidden}.item_image::before{content:' ';width:100%;display:block;padding-top:100%}.item_image img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.item_description{display:flex;flex-direction:column;justify-content:center;margin-left:5%;width:25%}.item_name{font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:22px;color:#2d2d2d}.item_price{display:flex;flex-direction:column;margin:16px 0}.item_price .sale{color:#aaa;font-weight:normal;letter-spacing:0.5px;font-size:14px;text-decoration:line-through}.item_price .price{font-weight:bold;letter-spacing:1px;font-size:22px;color:#555;padding:5px 0}.item_price .price.red_price{color:#d01345}.item_short_desc{padding:0}.item_short_desc li{padding:2px 0px;font-weight:normal;letter-spacing:0.5px;font-size:14px;color:#2d2d2d}.basket_and_liked{display:flex;align-items:center;margin-top:10%}.basket_and_liked .add_to_basket{background-color:rgba(0,128,0,0.808);border:0;color:#fff;display:flex;align-items:center;justify-content:center;padding:10px 15px;font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:18px;cursor:pointer}.basket_and_liked .add_to_liked{width:40px;height:40px;display:flex;align-items:center;justify-content:center;background-color:#eee;border-radius:50%;margin-left:5%;cursor:pointer}.basket_and_liked .add_to_liked span{opacity:1}.basket_and_liked .add_to_liked .act{animation:like .4s ease-in-out infinite}@keyframes like{0%{transform:scale(1)}50%{transform:scale(1.5)}100%{transform:scale(1)}}

.not_found_container{width:100%;height:100%;display:flex;align-items:center;justify-content:center}.not_found{width:500px;height:500px;background-color:khaki;display:flex;align-items:center;justify-content:center}

.results_container{width:100%;display:flex;flex-direction:column;align-items:center}.results{width:100%;text-align:center;background-color:#f0f0f0;padding:1% 0}.results p{font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:19px}.results h2{font-weight:bold;letter-spacing:1px;font-size:25px}.preview_product_container{width:70%;margin:0 auto;display:flex;justify-content:center;flex-wrap:wrap;margin-top:30px;margin-bottom:30px}.no_results_container{width:100%;background-color:lightcyan;display:flex;justify-content:center}.no_results{width:70%;text-align:center;padding:5% 0}.no_results h2{font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:25px;margin-bottom:1%}.no_results p{font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:19px}

.basket_container{width:100%;height:300px;text-align:center;background-color:cornflowerblue}

.login_container{width:100%;height:300px;background-color:darkcyan}

.liked_container{width:100%}.liked_container section{width:70%;margin:5% auto;display:flex;flex-wrap:wrap}.liked{width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;background-color:#f0f0f0;font-weight:bold;letter-spacing:1px;font-size:14px;padding:1% 0}.no_liked_container{width:100%;display:flex;flex-direction:column;align-items:center;padding:10%}.no_liked_container button{border:0;background-color:#333;color:#fff;font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:16px;cursor:pointer;padding:15px 20px}.no_liked{text-align:center}.no_liked h2{font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:16px;font-size:22px}.no_liked p{font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:16px;padding:5%}

.footer_container{width:100%;position:relative}.footer_list{width:100%;height:300px;background-color:#eee;display:flex;align-items:center;justify-content:space-around;flex-wrap:wrap}.footer_block{width:25%;color:#666;display:flex;flex-direction:column;align-items:center}.fb_header{font-weight:normal;letter-spacing:0.5px;font-size:14px;font-size:18px;text-transform:uppercase;padding-bottom:15px;cursor:default}.fb_list span{display:block;width:100%;height:30px;font-weight:normal;letter-spacing:0.5px;font-size:14px;cursor:pointer}.fb_list div:hover{color:cornflowerblue}.footer_container .info{width:100%;display:flex;align-items:center;justify-content:space-around;height:60px;background-color:#ddd;color:#666;font-weight:normal;letter-spacing:0.5px;font-size:14px;cursor:default}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-Heavy.eot);
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
        url(fonts/FuturaPT-Heavy.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-Heavy.woff) format('woff'),
        url(fonts/FuturaPT-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-Medium.eot);
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url(fonts/FuturaPT-Medium.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-Medium.woff) format('woff'),
        url(fonts/FuturaPT-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-MediumObl.eot);
    src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'),
        url(fonts/FuturaPT-MediumObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-MediumObl.woff) format('woff'),
        url(fonts/FuturaPT-MediumObl.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url(fonts/FuturaPTCond-Medium.eot);
    src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'),
        url(fonts/FuturaPTCond-Medium.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-Medium.woff) format('woff'),
        url(fonts/FuturaPTCond-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-LightObl.eot);
    src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'),
        url(fonts/FuturaPT-LightObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-LightObl.woff) format('woff'),
        url(fonts/FuturaPT-LightObl.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url(fonts/FuturaPT-Book.eot);
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url(fonts/FuturaPT-Book.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-Book.woff) format('woff'),
        url(fonts/FuturaPT-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url(fonts/FuturaPTCond-Bold.eot);
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'),
        url(fonts/FuturaPTCond-Bold.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-Bold.woff) format('woff'),
        url(fonts/FuturaPTCond-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url(fonts/FuturaPT-BookObl.eot);
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url(fonts/FuturaPT-BookObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-BookObl.woff) format('woff'),
        url(fonts/FuturaPT-BookObl.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url(fonts/FuturaPTCond-ExtraBoldObl.eot);
    src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'),
        url(fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-ExtraBoldObl.woff) format('woff'),
        url(fonts/FuturaPTCond-ExtraBoldObl.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-Light.eot);
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url(fonts/FuturaPT-Light.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-Light.woff) format('woff'),
        url(fonts/FuturaPT-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-BoldObl.eot);
    src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'),
        url(fonts/FuturaPT-BoldObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-BoldObl.woff) format('woff'),
        url(fonts/FuturaPT-BoldObl.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url(fonts/FuturaPT-DemiObl.eot);
    src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'),
        url(fonts/FuturaPT-DemiObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-DemiObl.woff) format('woff'),
        url(fonts/FuturaPT-DemiObl.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url(fonts/FuturaPTCond-ExtraBold.eot);
    src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'),
        url(fonts/FuturaPTCond-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-ExtraBold.woff) format('woff'),
        url(fonts/FuturaPTCond-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url(fonts/FuturaPT-Demi.eot);
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url(fonts/FuturaPT-Demi.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-Demi.woff) format('woff'),
        url(fonts/FuturaPT-Demi.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-HeavyObl.eot);
    src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'),
        url(fonts/FuturaPT-HeavyObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-HeavyObl.woff) format('woff'),
        url(fonts/FuturaPT-HeavyObl.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url(fonts/FuturaPT-ExtraBoldObl.eot);
    src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'),
        url(fonts/FuturaPT-ExtraBoldObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-ExtraBoldObl.woff) format('woff'),
        url(fonts/FuturaPT-ExtraBoldObl.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url(fonts/FuturaPTCond-Book.eot);
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
        url(fonts/FuturaPTCond-Book.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-Book.woff) format('woff'),
        url(fonts/FuturaPTCond-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url(fonts/FuturaPT-Bold.eot);
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url(fonts/FuturaPT-Bold.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-Bold.woff) format('woff'),
        url(fonts/FuturaPT-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url(fonts/FuturaPT-ExtraBold.eot);
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url(fonts/FuturaPT-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPT-ExtraBold.woff) format('woff'),
        url(fonts/FuturaPT-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url(fonts/FuturaPTCond-BoldObl.eot);
    src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'),
        url(fonts/FuturaPTCond-BoldObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-BoldObl.woff) format('woff'),
        url(fonts/FuturaPTCond-BoldObl.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url(fonts/FuturaPTCond-MediumObl.eot);
    src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'),
        url(fonts/FuturaPTCond-MediumObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-MediumObl.woff) format('woff'),
        url(fonts/FuturaPTCond-MediumObl.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url(fonts/FuturaPTCond-BookObl.eot);
    src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'),
        url(fonts/FuturaPTCond-BookObl.eot?#iefix) format('embedded-opentype'),
        url(fonts/FuturaPTCond-BookObl.woff) format('woff'),
        url(fonts/FuturaPTCond-BookObl.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}



/*# sourceMappingURL=main-611f43e8.css.map*/