.light {
    font-family: Futura PT Light;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.medium {
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.bold {
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
}
.header_container {
	margin-top: 30px;
	width: 100%;
	height: 70px;
	background-color: rgb(0, 0, 0);
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
    justify-content: center;
}
.logo_wrapper {
	flex-grow: 3;
    display: flex;
    justify-content: flex-end;
}
.logo {
	font-family: FuturaPT-Bold;
    text-transform: uppercase;
    font-size: 42px;
    cursor: pointer;
    margin-left: 40px;
    color: white;
}
.product_wrapper {
    
    border-left: 1px solid #525050;
    border-right: 1px solid #525050;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0.3;
    margin: 0 20px;
    transition: 0.3s background-color ease;
    font-family: FuturaPT-Bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 16px;
}
.product_wrapper.active {
    background-color: #525050;
    cursor: default;
}
.product_list_container {
    width: 100%;
    height: 60px;
    background-color: #525050;
    display: flex;
    justify-content: space-evenly;
}
.product_element_wrapper {
    width: 70%;
    display: flex;
}
.product_element {
    color: white;
    cursor: default;
    max-height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-family: Futura PT Medium;
    letter-spacing: 1px;
    font-size: 16px;
    object-fit: cover;
}
.product_element_wrapper button {
    color: #fff;
    letter-spacing: .8px;
    line-height: 60px;
    border: none;
    padding: 0 10px;
    background-color: #525050;
    margin: 0;
    outline: none;
    border-radius: 0;
}
.product_element.sale {
    display: block;
    padding: 0 12px 0 14px;
    background-color: #d01345;
    transform: skew(-12deg);
    padding: 0 10px;
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    font-size: 16px;
}
.product_element.sale:hover {
    background-color: white;
    transform: skew(0deg);
}
.product_element:hover {
    background-color: white;
    color: #525050;
}

.svg_wrapper {
    flex-grow: 3;
    margin-left: 20px;
    display: flex;
}
.svg {
    height: 20px;
    margin-left: 35px;
    cursor: pointer;
}
.svg:first-child {
    margin-left: 0;
}
.svg:last-child {
    margin-right: 40px;
}
.expanded_list_bcg {
    width: 100%;
    height: calc(100% - 160px) ; /* ? */
    position: absolute;
    background-color: rgb(0, 0, 0, 0.550);
    z-index: 10;
    overflow: hidden;
}
.expanded_list_container {
    position: absolute;
    width: 65%;
    height: auto;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    justify-content: space-around;
}

.expanded_list {
    padding: 0;
    min-width: 25%;
    list-style: none;
    margin: 25px;
    
}
.expanded_list_item {
    margin: 2% 0;
    cursor: pointer;
    color: black;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.expanded_list_item:hover {
    color: cornflowerblue;
}
.expanded_list_sort {
    padding-bottom: 10px;
    cursor: default;
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
}
.random_item_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid #ddd;
    position: relative;
    list-style: none;
    width: 60%;
}
.random_item {
    width: 40%;
    position: relative;
    margin: 3% auto;
    cursor: pointer;
    transition: all .3s ease-in;
    
}
.random_item:hover {
    transform: scale(1.050);
}
.random_img {
    width: 100%;
    position: relative;
}
.random_img::before {
    content: ' ';
    width: 100%;
    display: block;
    padding-top: 130%;
}
.random_img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.random_make {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
}