.preview_product_counter {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1% 0;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #666;
}
.preview_product_filter {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #666;
}
.preview_product_container {
    width: 70%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
.preview_product {
    width: calc(25% - 9px);
    position: relative;
    margin-bottom: 10px;
    margin: 12px 0 1px 12px;
    cursor: pointer;
    border: 1px solid white;
    transition: all .3s ease-in;
}
.preview_product:nth-child(4n-3) {
    margin-left: 0;
}
.preview_product:hover {
    transform: scale(1.050);
}
.preview_product_sale, .remove_like {
    background-color: #d01345;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 15px;
}
.remove_like {
    background-color: #eee;
    z-index: 5;
}
@keyframes remove {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}
.preview_product.remove {
    animation: remove .4s ease;
}

.preview_product_sale span, .remove_like span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 0.9vw;
}
.preview_product_img {
    width: 100%;
    position: relative;
}
.preview_product_img::before {
    content: ' ';
    width: 100%;
    display: block;
    padding-top: 100%;
}
.preview_product_img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.preview_product_name {
    text-align: center;
    color: #2d2d2d;
    height: 40px;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.preview_product_price .sale {
    color: #aaa;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-decoration: line-through;
    text-align: center;
    margin-right: 10px;
}
.preview_product_price .red {
    color: #d01345;
}
.preview_product_price {
    text-align: center;
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}
.add_to_basket {
    border: solid rgba(0, 128, 0, 0.808);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    font-family: FuturaPT-Bold;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 240, 240);
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 1% 0;
    
}