.liked_container {
    width: 100%;
    
}
.liked_container section {
    width: 70%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
}
.liked {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 240, 240);
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 1% 0;
}
.no_liked_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.no_liked {
    text-align: center;
}
.no_liked h2 {
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 22px;
}
.no_liked p {
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 5%;
}
.no_liked_container button {
    border: 0;
    background-color: #333;
    color: white;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;
}