.item_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.item_image {
    width: 25%;
    position: relative;
    overflow: hidden;
}
.item_image::before {
    content: ' ';
    width: 100%;
    display: block;
    padding-top: 100%;
}
.item_image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.item_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: 25%;
}
.item_name {
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 22px;
    color: #2d2d2d;
}

.item_price {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}
.item_price .sale {
    color: #aaa;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-decoration: line-through;
}
.item_price .price {
    font-family: FuturaPT-Bold;
    letter-spacing: 1px;
    font-size: 22px;
    color: #555;
    padding: 5px 0;
}

.item_short_desc {
    padding: 0;
    
}
.item_short_desc li {
    padding: 2px 0px;
    font-family: Futura PT Medium;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #2d2d2d;
}
.basket_and_liked {
    display: flex;
    align-items: center;
    margin-top: 10%;
}
.basket_and_liked .add_to_basket {
    background-color: rgba(0, 128, 0, 0.808);
    border: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-family: FuturaPT-Bold;
    letter-spacing: 0.5px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.basket_and_liked .add_to_liked {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 5%;
    cursor: pointer;
}
/* .add_to_liked span {
    transition: all 0.3s ease-in;
}
.add_to_liked span:hover {
    transform: scale(1.4);
} */
.add_to_liked span {
    opacity: 1;
}

.add_to_liked .act  {
    animation: like .4s ease-in-out infinite;
}
@keyframes like {
    0% { transform: scale(1);}
    50% { transform: scale(1.5);}
    100% { transform: scale(1);}
}
.price.red_price {
    color: #d01345;
}