.sale_block_container {
    width: 100%;
    position: relative;
    margin-top: 60px;
    background-image: url("https://content.asos-media.com/-/media/homepages/unisex/homepages/2020/06_june/ss-sale/red/ww-red-desktop.jpg");
    background-size: cover;
}
.sale_block {
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.sb_header { 
    width: 100%;
    margin: 2%;
    display: flex;
    justify-content: center;
}
.sb_header_text {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 2.5vw;
    line-height: 2.7vw;
    text-align: center;
    cursor: pointer;
}
.sb_header_text .first {
    background-color: rgb(253, 1, 54);
    line-height: 3.7vw;
    box-shadow: 0.37em 0 0 rgb(253, 1, 54), -0.37em 0 0 rgb(253, 1, 54);
} 
.sb_examples {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}
.sb_example {
    list-style: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.8vw;
    text-transform: uppercase;
    margin: 0 10px;
    height: calc(100% - 10px);
    cursor: pointer;
    transition: all .3s ease-in;
}
.sb_example:hover {
    transform: scale(1.025);
}
.sb_img {
    height: calc(100% - 46px);
    width: 100%;
}
.sb_img .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.sb_text {
    width: 100%;
    padding: 5.3% 0;
    background-color: white;
    text-align: center;
    overflow: hidden;
    color: black;
}
.sb_button {
    background-color: white;
    /* width: 100%; */
    padding: 7% 14%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1vw;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    transition: all .3s ease-in;
    margin: 15%;
    margin-top: inherit;
}
.sb_button:hover {
    background-color: black;
    color: white;
}